/*  ____  _         _      
 * / ___|| |_ _   _| | ___ 
 * \___ \| __| | | | |/ _ \
 *  ___) | |_| |_| | |  __/
 * |____/ \__|\__, |_|\___|
 *  	      |___/        
 * 
 *--------------------------------
*/

*{
	border: none;
	border-radius: 6px;
	/*font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
	font-family: FontAwsome, Noto Sans;
	font-size: 22px;
	font-style: normal;
	min-height: 0;
	margin-left: 0;
}

window#waybar{
	background: rgba(25, 23, 36, 1);
    	border: 2px solid #f4f3ef;
    	color: #e0def4;
    	padding: 10px;
    	font-weight: normal;
}

#custom-launcher {
    color: #1793d1;
    background-color: transparent;
    margin: 0px 15px 0px 15px;
    font-size: 35px;
}

#workspaces {
	background: transparent;
	border-radius: 16px;
	border: solid 0px #f4d9e1;
	font-weight: normal;
	font-style: normal;
}

#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: #c4a7e7;
}

#cpu, #memory, #disk {
    background-color: transparent;
    border-radius: 16px;
    margin: 10px 15px 10px 15px;
    font-weight: bold;
}

#custom-randwall, #pulseaudio, #clock{
    color: #e0def4;
    background-color: transparent;
    margin: 0px 10px 0px 0px;
	padding: 10px 10px 10px 10px;
    font-weight: bold;
}

